body {
    font-family: 'Poppins', sans-serif;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.slct {
    position: absolute; /* Menggunakan posisi absolute */
    top: 100px; /* Jarak dari atas */
    text-align: center; /* Rata tengah teks */
    color: #fff; /* Ubah warna teks jika perlu */
}

i {
    font-size: 45px;
}

.light-button-css {
    position: relative;
    margin: 20px;
}

.light-button-css button.bt {
    position: relative;
    height: 200px;
    display: flex;
    align-items: flex-end;
    outline: none;
    background: none;
    border: none;
    cursor: pointer;
}

.light-button-css button.bt .button-holder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100px;
    background-color: #0a0a0a; /* Warna latar belakang untuk tombol */
    border-radius: 5px;
    color: #333; /* Warna teks */
    font-weight: 700;
    transition: 300ms;
    outline: #0f0f0f 2px solid;
    outline-offset: 20;
}

.light-button-css button.bt .button-holder svg {
    height: 50px;
    fill: #0f0f0f; /* Warna isi SVG */
    transition: 300ms;
}

.light-button-css button.bt .light-holder {
    position: absolute;
    height: 200px;
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.light-button-css button.bt .light-holder .dot {
    position: absolute;
    top: 0;
    width: 10px;
    height: 10px;
    background-color: #0a0a0a;
    border-radius: 10px;
    z-index: 2;
}

.light-button-css button.bt .light-holder .light {
    position: absolute;
    top: 0;
    width: 200px;
    height: 200px;
    clip-path: polygon(50% 0%, 25% 100%, 75% 100%);
    background: transparent;
}
.light-button-css button.bt:hover .button-holder svg {
    fill: rgba(10, 102, 194, 1); /* Warna SVG saat hover */
}

.light-button-css button.bt:hover .button-holder {
    color: rgba(10, 102, 194, 1); /* Warna teks saat hover */
    outline: rgba(10, 102, 194, 1) 2px solid;
    outline-offset: 2px;
}

.light-button-css button.bt:hover .light-holder .light {
    background: rgb(255, 255, 255);
    background: linear-gradient(
        180deg,
        rgba(10, 102, 194, 1) 0%,
        rgba(255, 255, 255, 0) 75%,
        rgba(255, 255, 255, 0) 100%
    );
}

.light-button-html {
    position: relative;
    margin: 20px;
}

.light-button-html button.bt {
    position: relative;
    height: 200px;
    display: flex;
    align-items: flex-end;
    outline: none;
    background: none;
    border: none;
    cursor: pointer;
}

.light-button-html button.bt .button-holder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100px;
    background-color: #0a0a0a; /* Warna latar belakang untuk tombol */
    border-radius: 5px;
    color: #333; /* Warna teks */
    font-weight: 700;
    transition: 300ms;
    outline: #0f0f0f 2px solid;
    outline-offset: 20;
}

.light-button-html button.bt .button-holder svg {
    height: 50px;
    fill: #0f0f0f; /* Warna isi SVG */
    transition: 300ms;
}

.light-button-html button.bt .light-holder {
    position: absolute;
    height: 200px;
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.light-button-html button.bt .light-holder .dot {
    position: absolute;
    top: 0;
    width: 10px;
    height: 10px;
    background-color: #0a0a0a;
    border-radius: 10px;
    z-index: 2;
}

.light-button-html button.bt .light-holder .light {
    position: absolute;
    top: 0;
    width: 200px;
    height: 200px;
    clip-path: polygon(50% 0%, 25% 100%, 75% 100%);
    background: transparent;
}
.light-button-html button.bt:hover .button-holder svg {
    fill: #d53702; /* Warna SVG saat hover */
}

.light-button-html button.bt:hover .button-holder {
    color: #d53702; /* Warna teks saat hover */
    outline: #d53702 2px solid;
    outline-offset: 2px;
}

.light-button-html button.bt:hover .light-holder .light {
    background: rgb(255, 255, 255);
    background: linear-gradient(
        180deg,
        #d53702 0%,
        rgba(255, 255, 255, 0) 75%,
        rgba(255, 255, 255, 0) 100%
    );
}


.light-button-js {
    position: relative;
    margin: 20px;
}

.light-button-js button.bt {
    position: relative;
    height: 200px;
    display: flex;
    align-items: flex-end;
    outline: none;
    background: none;
    border: none;
    cursor: pointer;
}

.light-button-js button.bt .button-holder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100px;
    background-color: #0a0a0a; /* Warna latar belakang untuk tombol */
    border-radius: 5px;
    color: #333; /* Warna teks */
    font-weight: 700;
    transition: 300ms;
    outline: #0f0f0f 2px solid;
    outline-offset: 20;
}

.light-button-js button.bt .button-holder svg {
    height: 50px;
    fill: #0f0f0f; /* Warna isi SVG */
    transition: 300ms;
}

.light-button-js button.bt .light-holder {
    position: absolute;
    height: 200px;
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.light-button-js button.bt .light-holder .dot {
    position: absolute;
    top: 0;
    width: 10px;
    height: 10px;
    background-color: #0a0a0a;
    border-radius: 10px;
    z-index: 2;
}

.light-button-js button.bt .light-holder .light {
    position: absolute;
    top: 0;
    width: 200px;
    height: 200px;
    clip-path: polygon(50% 0%, 25% 100%, 75% 100%);
    background: transparent;
}
.light-button-js button.bt:hover .button-holder svg {
    fill: #fff700; /* Warna SVG saat hover */
}

.light-button-js button.bt:hover .button-holder {
    color: #fff700; /* Warna teks saat hover */
    outline: #fff700 2px solid;
    outline-offset: 2px;
}

.light-button-js button.bt:hover .light-holder .light {
    background: rgb(255, 255, 255);
    background: linear-gradient(
        180deg,
        #fff700 0%,
        rgba(255, 255, 255, 0) 75%,
        rgba(255, 255, 255, 0) 100%
    );
}
